VITE_APPKIT_PROJECT_ID=<PROJECT_ID>
VITE_ESCROW_CONTRACT_ADDRESS=<CONTRACT_ADDRESS>
VITE_AUCTION_CONTRACT_ADDRESS=<CONTRACT_ADDRESS>
VITE_MARKETPLACE_CONTRACT_ADDRESS=<CONTRACT_ADDRESS>
VITE_LISK_SEPOLIA_EXPLORER_URL=https://sepolia-blockscout.lisk.com/api
VITE_LISK_SEPOLIA_RPC_URL=https://rpc.sepolia-api.lisk.com/
VITE_MULTICALL_ADDRESS=0x44Bf31aacCECD604937F836F272980C6639D6a08
